@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Body-Font";
  src: url("./assets/fonts/Lugrasimo-Regular.ttf") format("truetype");
}

body {
  font-family: "Body-Font", sans-serif;
}
